*{  
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body{
    background-color: white;
}
 
  

.navigation {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    background-color: lightblue;
    height: 3em;
}

.navopt:nth-last-child(1){
    margin-right: 3vw;
}


#blocketlogo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 170px;
    margin: 5px;
    margin-left: 15vw;
}

.navopt{
    justify-content: flex-end;
    flex-direction: column;
    padding: 10px;
    font-size: 1.5em;
    display: inline;
    transition: all 1s;
}



.navopt a{
    padding: 4px;
    font-weight: 300;
}



.navopt:hover{
    transition: background-color 1s;
    cursor: pointer;
    background-color: RGB(239, 64, 79)
}




.categories {
    background-color: skyblue;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
    border-bottom: 1px solid black;
}

.categories > div:nth-child(odd){
    text-align: center;
    flex-grow: 1;
    color: black;
    font-size: 1.5em;
    font-weight: 300;
    padding: .3em 1em .3em 1em;
    margin: 0px;
}

.categories > div {
    transition: all .5s;
}

.categories > div:nth-child(even){
    border-right: 2px solid black;
}

.categories > div:last-child{
    border: none;
    padding-right: none;
}

.inner {
    list-style: none;
    display: flex;
    margin: 0px;
    position: absolute;
    width: 100%;
    left: -100%;
    top: 3.9em;
    background-color: lightblue;
    justify-content: space-around;
    transition: all .5s;
    border-bottom: 1px solid black;
}

.inner > li{
    color: black;
    font-size: 1em;
    font-weight: 300;
    padding: .3em 1em .3em 1em;
    margin: none;
}

.categories > div:hover .inner {
    transform: translatex(100%);
    transition: transform .5s ease;
}


.categories > div:hover{
     transition: background-color 1s;
    cursor: pointer;
    background-color: RGB(239, 64, 79)
}

.inner div{
    border-right: 1px solid black;
}

.inner li{
    text-align: center;
    flex-grow: 1;
    transition: all .5s;
}

.inner li:hover{
     background-color: RGB(239, 64, 79);
    transition: background-color 1s;
    cursor: pointer;
   
}






main {
    display: flex;
    justify-content: center;
}

input {
    display: inline-block;
    border-radius: 10px;
    margin: 0px;
    display: inline;
    border: 1px solid grey;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 40em;
    box-shadow: 3px 3px 1px lightgrey;
    height: 4em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}


.sok{
    display: inline-block;
    border-radius: 10px;
    margin-left: .5em;
    margin-right: .5em;
    height: 1.2em;
    background-color: lightblue;
    padding: 1em;
    font-family: "Roboto", "sans-serif";
    font-weight: 300;
    display: inline;
    border: 1px solid grey;
    transition: background-color 1s;
}

.sok:hover {
    transition: background-color 1s;
    cursor: pointer;
    background-color: RGB(239, 64, 79)
}

.sok img{
    width: 1em;
    padding-right: 0.3em;
}

.laggtill{
    background-color: rgb(51, 204, 154);
    border-radius: 5px 15px 5px;
    height: 1.2em;
    padding: 1em;
    font-family: "Roboto", "sans-serif";
    font-weight: 300;
    display: inline-block;
    border: 1px solid grey;
}

.laggtill img {
    width: 1em;
    padding-right: 0.3em;
}

.laggtill:hover {
    transition: background-color 1s;
    cursor: pointer;
    background-color: RGB(21, 174, 124)
}





.searchoptions *{
    font-family: "Roboto", "sans-serif";
    font-weight: 300;
}

.searchoptions {
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    width: 60%;
    margin-left: 20%;
    height: 6em;
}

.region {
    margin-top: .5em;
    list-style: none;
    z-index: 2;
}

.searchoptions select {
    font-size: 1em;
}

.searchoptions > div > div{
    padding: .5em;
}

#where {
    border-bottom: 1px solid grey;
}

#who *{
    font-size: .8em;
    transition: all 1s;
}

#who p:nth-child(1){
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: .3em; 
}

#who p:hover{
    background-color: lightgreen;
    transition: all 1s;
}


#who p:nth-child(2){
    background-color: lightgreen;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: .3em; 
}

#who p:nth-child(3){
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: .3em; 
}


#salj{
    background-color: lightgreen;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-color: black;
}

#kopes{
    transition: all 1s;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-color: black;
}

#kopes:hover{
    background-color: lightgreen;
    transition: all 1s;
}


/*===================================
        ANNONSER
===================================*/






.adverts {
    
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items:stretch;
    flex-wrap: wrap;
}

.adverts > div{
    text-align: center;
    min-width: 20%;
    min-height: 30%;
    border: 1px solid lightgrey;
    margin: 2em 2em;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: .5em
}

.adverts div:hover{
    transform: scale(1.1);
    box-shadow: 1em 1em 1em lightgrey;
    transition: box-shadow 1s, transform 1s;
}

.adverts > div > img {
    border: 1px solid lightgrey;
    max-width: 18em;
    max-height: 18em;
    margin: 1em 5em 0px 5em;
    display: block;
}

.adverts p{
    margin: .5em;
    text-transform: uppercase;
    display: inline;
    font-weight: 300;
}

.adverts p:nth-child(2){
    text-decoration: underline;
}


.group1 p{
    margin-right: 2em;
}

.group1 img {
    width: 1em;
}

p > img {
    width: 1em;
    height: 1em;
    display: inline;
}





footer {
  display: flex;
 justify-content: space-around;
  margin-top: 5em;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #efefef;
  text-align: center;
}

h4 {
    margin-bottom: .5em;
}

.socialmedia img {
    display: inline;
    width: 4em;
    transition: all 1s
}

.socialmedia img:hover {
    transform: rotate(360deg);
    transition: all 1s
}

.footerinfo *{
    font-weight: 100;
    
}

.footerinfo *:hover{
    background-color: bisque;
    transition: background-color 1s;
    cursor: pointer;
}




