*{  
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body{
    background-color: white;
}
 


.navigation {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    background-color: lightblue;
    height: 3em;
    margin-bottom: 3em;
}

.navopt:nth-last-child(1){
    margin-right: 3%;
}


#blocketlogo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 170px;
    margin: 5px;
    margin-left: 10%;
}

.navopt{
    justify-content: flex-end;
    flex-direction: column;
    padding: 10px;
    font-size: 1.5em;
    display: inline;
    transition: all 1s;
}



.navopt a{
    padding: 4px;
    font-weight: 300;
}



.navopt:hover{
    transition: background-color 1s;
    cursor: pointer;
    background-color: RGB(239, 64, 79)
}

main{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

input {
    border-radius: 10px;
    margin: 0px;
    display: inline;
    border: 1px solid grey;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 40em;
    box-shadow: 3px 3px 1px lightgrey;
    height: 4em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}


.sok{
    border-radius: 10px;
    margin: 0px;
    height: 4em;
    background-color: lightblue;
    padding: 1em;
    font-family: "Roboto", "sans-serif";
    font-weight: 300;
    display: inline;
    border: 1px solid grey;
    transition: background-color 1s;
}

.sok:hover {
    transition: background-color 1s;
    cursor: pointer;
    background-color: RGB(239, 64, 79)
}

.sok img{
    width: 1em;
    padding-right: 0.3em;
}

p {
    
}

.laggtill{
    background-color: rgb(51, 204, 154);
    border-radius: 5px 15px 5px;
    height: 4em;
    padding: 1em;
    font-family: "Roboto", "sans-serif";
    font-weight: 300;
    display: inline;
    border: 1px solid grey;
}

.laggtill img {
    width: 1em;
    padding-right: 0.3em;
}

.laggtill:hover {
    transition: background-color 1s;
    cursor: pointer;
    background-color: RGB(21, 174, 124)
}


.animations1 {
    display: block;
    height: 5em;
    
}

.animations2 {
    background-color: aliceblue;
    display: block;
    height: 5em;
}

.overlay {
    background-color: white;
    display: block;
    height: 5em;
    z-index: 10;
    transform: translateY(-5.1em);
    border-top: 2px solid grey;
}
.caranimation{
    position: relative;
    bottom: -3.8em;
    left: 13%;
    display: inline;
    transform: translateX(50vw);
    transition: all 20s cubic-bezier(.85,.06,.34,.87);
    transition-delay: 10s;
    margin-left: 10%;
    content: url(resources/car1.png);
    width: 3em;
}

.cloudanimation1{
    position: relative;
    bottom: 7em;
    left: 80%;
    display: inline;
    transform: translateX(-70vw);
    transition: all 70s;
    content: url(resources/cloud1.png);
    width: 3em;
}

.cloudanimation2{
    position: relative;
    bottom: 7em;
    left: 70%;
    display: inline;
    transform: translateX(-70vw);
    transition: all 100s;
    content: url(resources/cloud2.png);
    width: 3.4em;
}

.treeanimation1 {
    margin-left: 10%;
    display: inline;
    content: url(resources/tree1.png);
    width: 5em;
    transform: translatey(-5em);
    transition: transform 3s;
        
}


.treeanimation2 {
    position: relative;
    left: -1%;
     margin-left: 0%;
    display: inline;
    content: url(resources/tree1.png);
    width: 4em;
    transform: translatey(-5em);
    transition: transform 2s;
}

.treeanimation3 {
    position: relative;
    left: -2%;
    display: inline;
    content: url(resources/tree1.png);
    width: 4.8em;
    transform: translatey(-5em);
    transition: transform 5s;
}

.treeanimation4 {
     position: relative;
    right: -45vw;
    display: inline;
    content: url(resources/tree2.png);
    width: 4.8em;
    transform: translatey(-5em);
    transition: transform 4s;
}

.treeanimation5 {
     position: relative;
    right: -40vw;
    display: inline;
    content: url(resources/tree2.png);
    width: 4em;
    transform: translatey(-5em);
    transition: transform 3s;
}

.houseanimation1 {
    position: relative;
    right: -43vw;
    display: inline;
    content: url(resources/house1.png);
    width: 4em;
    transform: translatey(-5em);
    transition: transform 5s;
}

.promos {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    width: 70%;
    height: 50%;
}

.promo1 img{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
}


.promo2 img{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
}

.promo3 img{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;;
}

